* {
    box-sizing: border-box;
}
body{
    background-color: gainsboro;
}
section{
    padding: 5em;
    background-color: brown;
}

section div{
    background-color: black;
    color: aliceblue;
}
.breadcrumb{
    padding: 2em;
}
section:first-child:not(.breadcrumb){
    background-color: aqua;
    padding: 1em;
color: black;
}