* {
    box-sizing: border-box;
}
body{
    background-color: gainsboro;
}
section{
    padding: 5em;
}

section div{
    background-color: black;
    color: aliceblue;
}

section:first-child:not(.breadcrumb){
    background-color: aqua;
color: black;
}