* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #121212;
  color: white;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
.background {
  background-color: #121212;
  padding-top: 2em;
}
html {
  scroll-behavior: smooth;
}

/* Header and nav bar */
header {
  margin: auto;
  align-items: center;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  display: flex;
}
header h1 {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  padding: 0.7em;
  z-index: -1;
  margin: auto;
}


.blog_type_h1 {
  display: grid;
  place-content: center;
  text-align: center;
  font-size: 4em;
  position: relative;
  padding-top: 2em;
  padding-right: auto;
}
.blog_type_h1_page {
  display: grid;
  place-content: center;
  text-align: center;
  font-size: 4em;
  position: relative;
  padding-top: .01em;
  padding-bottom: .3em;
  padding-right: auto;
}
.blog_welcome_text {
  text-align: center;
  padding-bottom: 3em;
  padding-right: auto;
}
.blog_welcome_text {
  text-align: center;
  padding-bottom: 7.5em;
  padding-right: auto;
}
.welcome_text_terms {
  text-align: center;
  padding-right: 4em;
}
.welcome_text_h2 {
  text-align: center;
  padding-bottom: 4em;
  padding-right: 4em;
}
.head_text {
  margin: 0.1em 1em;
  padding-bottom: 0.3em;
}
.head_text_friends {
  text-align: center;
  padding-bottom: 0.3em;
}

@media only screen and (max-width: 1100px) {
  .blog_img_header {
    margin: -20em 1em;
    width: 95%;
    height: 35em;
    opacity: 0.2;
    background-color: #151515;
  }
  
}
@media only screen and (max-width: 1000px) {
  .blog_img_header {
    margin: -20em 1em;
    width: 100%;
    height: 35em;
    opacity: 0.2;
    background-color: #151515;
  }
  
}
@media only screen and (min-width: 700px) {
  .blog_img_header {
    margin: -15em 1.5em;
    width: 100%;
    height: 35em;
    opacity: 0.2;
    background-color: #151515;
  }
  
}
@media only screen and (max-width: 700px) {
  header {
    margin: auto;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    z-index: -100;
  }

  
  .blog_img_header {
    margin: -20em;
    width: 50%;
    right: 50em;
    height: 35em;
    opacity: 0.2;
    background-color: #151515;
  }
  .blog_type_h1 {
    display: grid;
    place-content: center;
    text-align: center;
    font-size: 2.5em;
    position: relative;
    padding-top: 0.05em;
    padding-right: auto;
    z-index: -1;
  }
  .blog_welcome_text {
    text-align: center;
    padding-bottom: 2em;
    padding-right: auto;
  }
  .header_h1 {
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    padding: auto;
    font-size: 1.7em;
  }
  .about_text {
    margin: 0.3em 0.1em;
    font-size: 0.3em;
  }
  .about_text_p {
    margin: none;
    font-size: 0.4em;
    padding-bottom: 2em;
  }
  
}

@media only screen and (max-width: 480px) {
  header {
    margin: auto;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    z-index: -100;
  }

  
  .blog_img_header {
    margin: -20em;
    width: 50%;
    right: 50em;
    height: 35em;
    opacity: 0.2;
    background-color: #151515;
  }
  .blog_type_h1 {
    display: grid;
    place-content: center;
    text-align: center;
    font-size: 2.5em;
    position: relative;
    padding-top: 0.05em;
    margin: auto;
    z-index: -1;
  }
  .blog_welcome_text {
    text-align: center;
    padding-bottom: 2em;
    margin: auto;
  }
  .header_h1 {
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    margin: auto;
    font-size: 1.7em;
  }
  .about_text {
    margin: 0.3em 0.1em;
    font-size: 0.3em;
  }
  .about_text_p {
    margin: none;
    font-size: 0.4em;
    padding-bottom: 2em;
  }
  
}

.about_text {
  margin: 0.5em 0.5em;
  font-size: 2.5em;
}

.about_text_p {
  margin-left: 2em;
  font-size: 1.3em;
  margin-top: -25%;
  padding-bottom: 2em;
}
.hobbies_about_text_p {
  margin-left: 2em;
  font-size: 1.3em;
  padding-bottom: 2em;
}
.work_ex_about_text_p {
  margin-left: 2em;
  font-size: 1.3em;
  padding-bottom: 2em;
  font-weight: 300;
}

.blog_text_p {
  margin: 0.2em 2em;
  font-size: 1.3em;
  padding-bottom: 2em;
}
.blog_text_h1 {
  margin: 0.1em 1em;
  font-size: 2.5em;
  padding-bottom: 2em;
}
.terms_text_p {
  margin: 0.2em 1em;
  font-size: 1.1em;
  padding-bottom: 2em;
}
.terms_text_p a {
  color: rgb(226, 111, 241);
}

/* friends avatar */
.firends-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.friend-container_pink {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.friend-container_blue {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.friend-container_pink:hover > .friend-avatar_pink {
  box-shadow: 0px 5px 15px 0 rgb(238, 130, 202);
}
.friend-name_pink {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  text-decoration-color: rgb(238, 130, 202);
}
.friend-container_pink:hover > .friend-name_pink {
  text-decoration: underline;
  color: rgb(238, 130, 202);
}
.friend-avatar_pink {
  border-radius: 9999px;
  width: 140px;
  height: 140px;
}
.friend-name_blue {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  text-decoration-color: rgb(130, 204, 238);
}
.friend-container_blue:hover > .friend-name_blue {
  text-decoration: underline;
  color: rgb(130, 204, 238);
}
.friend-container_blue:hover > .friend-avatar_blue {
  box-shadow: 0px 5px 15px 0 rgb(130, 204, 238);
}
.friend-avatar_blue {
  border-radius: 9999px;
  width: 140px;
  height: 140px;
}

@media only screen and (max-width: 1500px) {
  .firends-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .friend-container_pink {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .friend-container_blue {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .friend-container:hover > .friend-avatar_pink {
    box-shadow: 0px 5px 15px 0 rgb(238, 130, 202);
  }
  .friend-name_pink {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-decoration-color: rgb(238, 130, 202);
  }
  .friend-container:hover > .friend-name_pink {
    text-decoration: underline;
    color: rgb(238, 130, 202);
  }
  .friend-avatar_pink {
    border-radius: 9999px;
    width: 140px;
    height: 140px;
  }
  .friend-name_blue {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-decoration-color: rgb(238, 130, 202);
  }
  .friend-container:hover > .friend-name_blue {
    text-decoration: underline;
    color: rgb(238, 130, 202);
  }
  .friend-container:hover > .friend-avatar_blue {
    box-shadow: 0px 5px 15px 0 rgb(238, 130, 202);
  }
  .friend-avatar_blue {
    border-radius: 9999px;
    width: 140px;
    height: 140px;
  }
}

/* 404 page text*/
.type_h1_404 {
  display: grid;
  place-content: center;
  text-align: center;
  font-family: "DM Mono", monospace;
  font-size: 4em;
  position: relative;
  padding-top: 2em;
  padding-right: 2em;
}
.type_h1_404::before,
.type_h1_404::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.welcome_text_404 {
  text-align: center;
  padding-bottom: 4em;
  padding-right: auto;
}

                                         /*----------project code----------*/
.card-display {
  display: flex;
  margin-left: 2em;
  margin-right: 2em;
}
.card {
  margin: 2em;
  background-color: #262626;
  width: 199em;
  font-size: 0.6em;
  box-shadow: 0px 5px 15px 0 rgb(27, 27, 27);
}
.projects_links {
  border: 0.2em;
  color: white;
  text-decoration: none;
  display: inline-block;
  align-items: center;
  text-align: center;
  font-size: 18px;
  margin-left: .75em;
  padding-top: auto;


}
.projects_text{
  text-align: center;
}
.projects_button {
  background-color: #2b2a2a;
  border: 0.2em;
  color: white;
  padding: 0.3em 2em;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-top: 0.7em;
  right: -5em;
  margin-bottom: 10px;
  margin-left: .75em;
  border-radius: 5px;
  margin-right: .75em;
}
.projects_button:hover {
  cursor: pointer;
  background-color: #be18ff79;
  color: white;
  box-shadow: 0 9px 16px 0 rgba(0, 0, 0, 0.24),
    0 10px 20px 0 rgba(0, 0, 0, 0.19);
}
.link_placement{
  margin: auto;
  display: flex;
  padding-top: auto;
  align-items: center;
  text-align: center;
  padding-top: .35em;
}
svg{
  fill: #fff;
  width: 3em;
  height: 3em;
  padding-left: .6em;
  padding-right: auto;
}
.head_text_projects {
  margin: 0.1em 1em;
  margin-left: 2em;
  padding-bottom: 0.3em;
}
.project_links_placement{
  display: flex;
  margin: auto;
}
.projects_links_2 {
  border: 0.2em;
  color: white;
  text-decoration: none;
  display: inline-block;
  align-items: center;
  text-align: center;
  font-size: 18px;
  margin-left: .4em;
  padding-top: auto;


}
@media only screen and (max-width: 700px) {
  /* project code  files */
  .card-display {
    display: block;
    margin-left: 1em;
    margin-right: 1em;
  }
  .card {
    margin: 2em;
    background-color: #262626;
    width: auto;
    font-size: 0.6em;
    text-align: center;
  }
}

                                         /*----------friends avatar----------*/
.firends-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.friend-container_pink {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.friend-container_blue {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.friend-container_pink:hover > .friend-avatar_pink {
  box-shadow: 0px 5px 15px 0 rgb(238, 130, 202);
}
.friend-name_pink {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  text-decoration-color: rgb(238, 130, 202);
}
.friend-container_pink:hover > .friend-name_pink {
  text-decoration: underline;
  color: rgb(238, 130, 202);
}
.friend-avatar_pink {
  border-radius: 9999px;
  width: 140px;
  height: 140px;
}
.friend-name_blue {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  text-decoration-color: rgb(130, 204, 238);
}
.friend-container_blue:hover > .friend-name_blue {
  text-decoration: underline;
  color: rgb(130, 204, 238);
}
.friend-container_blue:hover > .friend-avatar_blue {
  box-shadow: 0px 5px 15px 0 rgb(130, 204, 238);
}
.friend-avatar_blue {
  border-radius: 9999px;
  width: 140px;
  height: 140px;
}

@media only screen and (max-width: 1500px) {
  .firends-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .friend-container_pink {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .friend-container_blue {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .friend-container:hover > .friend-avatar_pink {
    box-shadow: 0px 5px 15px 0 rgb(238, 130, 202);
  }
  .friend-name_pink {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-decoration-color: rgb(238, 130, 202);
  }
  .friend-container:hover > .friend-name_pink {
    text-decoration: underline;
    color: rgb(238, 130, 202);
  }
  .friend-avatar_pink {
    border-radius: 9999px;
    width: 140px;
    height: 140px;
  }
  .friend-name_blue {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-decoration-color: rgb(238, 130, 202);
  }
  .friend-container:hover > .friend-name_blue {
    text-decoration: underline;
    color: rgb(238, 130, 202);
  }
  .friend-container:hover > .friend-avatar_blue {
    box-shadow: 0px 5px 15px 0 rgb(238, 130, 202);
  }
  .friend-avatar_blue {
    border-radius: 9999px;
    width: 140px;
    height: 140px;
  }
}

                                         /*----------custom scrollbar----------*/                     

/* scrollbar width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #be18ff79;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #be18ff;
}



                                         /*----------image code----------*/

.me{
  width: 30%;
  margin-left: 65%;
  margin-top: -8%;
  padding-bottom: 2em;
}
@media screen and (max-width: 1826px){
  .me{
    width: 30%;
    margin-left: 68%;
    margin-top: -8%;
    padding-bottom: 2em;
  }
}
@media screen and (max-width: 700px){
  .me{
    width: 50%;
    margin-left: 65%;
    margin-top: -8%;
    padding-bottom: 2em;
    opacity: 0;
  }
}
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  opacity: 20%;
  z-index: -10;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) {
  /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px; /* 50% */
  }
}
.background {
  background-color: #151515;
}
.projects_img{
  width: 100%;
  margin: 0;
  padding: 0;
}

.about_text_p {
  margin-left: 2em;
  font-size: 1.3em;
  margin-top: -25%;
  padding-bottom: 2em;
}
.hobbies_about_text_p {
  margin-left: 2em;
  font-size: 1.3em;
  padding-bottom: 2em;
}
@media screen and (max-width:1024px){
  .about_text_p {
    margin-left: 1em;
    font-size: 1em;
    margin-top: -30%;
    padding-bottom: 2em;
    
  }
  .hobbies_about_text_p {
    margin-left: 2em;
    font-size: 1em;
    padding-bottom: 2em;
  }
  
}
@media screen and (max-width:700px){
  .about_text_p {
    margin-left: 1em;
    font-size: 1em;
    margin-top: -50%;
    padding-bottom: 2em;
    
  }
  .hobbies_about_text_p {
    margin-left: 2em;
    font-size: 1em;
    padding-bottom: 2em;
  }
  
}





                                         /*----------footer----------*/
footer {
  background-color: #0f0f0f;
  height: auto;
  padding-left: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: auto;
  width: 100%;
  margin-left: 0;
  bottom: 60px;
  color: white;
}
footer h1 {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  text-align: center;
}




                           /*-------------- new nav code by https://codepen.io/jo_Geek/pen/xgbaEr ----*/

@media (max-width:600px) {
  nav {
    display: none;
  }
  header h1 {
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    padding: 0.7em;
    z-index: -1;
    display: none;
    margin: auto;
  }
  .nav {
    height: 4em;
    width: 100%;
    background-color: inherit;
    position: relative;
    margin: auto;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 1.7em;
    color: #fff;
    margin-left: 8em;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    margin-right: 8em;
    font-size: 1.3em;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: #be18ff;
  }
  
  .nav > #nav-check {
    display: none;
  }
  .nav > .nav-header {
    display: inline;
  }
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 1.7em;
    color: #fff;
    margin-left: 0;
    padding: 10px 10px 10px 10px;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  
.nav > #nav-check {
  display: none;
}

  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

/*desktop nav*/
nav {
  position: relative;
 
 margin: auto;
  padding: 0.7em;
  text-align: center;
  z-index: 10;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 0 40px 0 0;
  opacity: 0.4;
  overflow: hidden;
  padding: 0.7em;
  transition: all 0.4s ease;
  text-align: center;
}

nav ul li:hover {
  opacity: 0.7;
  background-color: #be18ff;
  text-align: center;
}

nav ul li.active {
  opacity: 1;
  background-color: #be18ff79;
  padding: 0.7em;
}

nav ul li:last-child {
  margin-right: 0;
}
nav ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  display: block;
  font-weight: 700;
  letter-spacing: 0.2em;
  font-size: 14px;
}

@media only screen and (max-width: 1100px) {
nav {
  position: relative;
  left: 10%;
  margin: auto;
  padding-bottom: 25px;
  text-align: center;
  z-index: 10;
}
}
